<style>

h1
{
}

h2
{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic;
	color: yellow;
	text-align: center;
}

h3
{
	font-family: Verdana;
	font-style: italic;
	color: yellow;
}

body{
	background-color: #7F7F7F;
}
article{
	background-color: black;
	vertical-align: top;
	margin: 6px;
	color: white;
	padding:0 10px 10px 10px;
	margin-bottom:10px;
	border:3px solid yellow;
	border-radius: 10px;
	
}

ul{
	background-color: #A9A9A9;
	list-style-type: none;
	margin:-5px;
	padding: 30px;
	width: 120px;
	padding:10px 10px 10px;
	margin-bottom:10px;
	border:3px solid yellow;
	border-radius: 10px;
}

li{
	border-collapse: collapse;
	text-align: center;
	display: block;
	width: 120px;
	border-bottom: 1px solid yellow;
}

li a{
	background-color: black
	color: black;
	display: block;
}

li a:hover{
	background-color: black;
	color: yellow;
}

nav {
	padding: 10px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0px;
	font-weight: bold;
	float: left;
	width: 10%;
	position:fixed;
	left:0
}

section {
	float: right;
	width: 88%;
	margin: 0 1.5%;
}

footer {
	clear: both;
	text-align: right;
}

img {
	width: 200px;
}

</style>